.gitattributes text eol=lf
/mvnw text eol=lf
*.cmd text eol=crlf
*.java text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.conf text eol=lf
*.pem text eol=lf
*.p12 binary
